
.hospital-content
{
    background: #ffffff;
    height: 100%;
    overflow-y: auto;
    font-family:  century gothic, sans-serif;
}

.hospital-content h4
{
    color: #44749d;
    text-transform: uppercase;
    font-family: century gothic, sans-serif;
    font-weight: 600;
}

.hospital-content p
{
    color: #1d1d1d;
    font-size: 15px;
    margin-top: -15px;
}
.hospital-img
{
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}



