#clickHealth-logo
{
    height: 35px;
    margin: 0;
    margin-top: 10px;
    margin-left: 10%
}

#clickHealth-navbar
{
    background:  #535353 !important;  
}

#clickHealth-menu ul li
{
    background: #535353 !important; 
}
#clickHealth-menu ul li a
{
    color: #ffffff;
    font-family: century gothic, sans-serif !important;
    font-size: 18px !important;
    background: #535353; 
    margin-top: 7px;
}

#clickHealth-menu a:hover 
{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #c6d4e1, 0 0 1px rgba(0, 0, 0, 0);
}

#clickHealth-menu:hover, #clickHealth-menu:focus, #clickHealth-menu:active 
{
    background: none;
}

#searchbox
{
   border-radius: 7px;
   border: 0px;
   font-size: 16px;
   height: 25px;
   width: 30%;
   margin-left: 9.5%;
   top:5px;  
   font-family: century gothic, sans-serif;
   
}

#suggest
{
   border-radius: 1px;
   border: 1px;
   width: 30%;
   margin-left: 220px !important;
   background: #ffffff !important;
   overflow-x: hidden;
}

#suggest ul li
{
   font-family: century gothic, sans-serif; 
   font-size: 13px;
   background: #ffffff !important;
}
#search-icon
{
    height: 30px;
    margin-left: 3px;
    margin-top: 10px;
   
}

.top-bar-section
{
    height: 60px !important;
}

.left-bar
{
    position: fixed;
    left: 0px;
    top: 0px;
    background: #44749d;
    height: 100%;
    width: 225px;
}

#left-bar-dp
{
    height: 60px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 10px;
}

#left-bar-name-box
{
    position: relative;    
    top: 10px;
    width: 165px;
    color: #00bdb3;
    font-family: century gothic, sans-serif;
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;  
}

/*
.left-bar-name-box 
{
    background: #1d1d1d;
    color: white;
    height: 80px;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
}
*/

#main-content
{
    margin-top: 9px;
    height: 100%;
    min-height: 700px;
}
#left-bar-name {
    color: #ffffff;
    font-size: 15px;
    margin-top: -60px;
    text-align: center;
}

#left-bar-logout {
    color: #c6d4e1;
    font-size: 12px;
    margin-left: -40px;
}

#left-bar-account{
    color: #c6d4e1;
    margin-left: -40px;
    margin-top: 40px;
}

#left-bar-email {
    color: #c6d4e1;
    margin-left: 3px;
    margin-top: -1px;
}

#mid-content
{
    margin-top: 20px; 
    margin-left: 250px;
    padding-left: 40px;
    padding-top: 20px;
}

.page-content
{
   background: white;
   height: 700px;  
}

.active-button a
{
    background: #44749d !important;
    border-radius: 3px;
}
.tasks {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

#notifCount{
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0 5px;
  line-height: 16px;
  font-size: 11px;
  color: white;
  text-shadow: 0 1px #902a27;
  background: #e93631;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
  background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
  background-image: -o-linear-gradient(top, #f65d5f, #e93631);
  background-image: linear-gradient(to bottom, #f65d5f, #e93631);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
}

.notification-box
{
  display: inline-block;
  vertical-align: text-top;
  margin-left: 10px;
  padding: 0 5px;
  line-height: 16px;
  font-size: 13px;
  font-family: monospace;
  border-radius: 2px;
}

 .notification-header
{
	font-family: century gothic, sans-serif;
	font-weight: bold;
	font-size: 13px;
}

#notif-dropdown
{
	padding-top: 20px !important;
	margin-top: 20px !important;
	width: 1000px !important;
}

