
#form-content
{
    background: #fff;
    height: 730px;
    font-family:  century gothic, sans-serif;
    padding-top:15px;
    margin-bottom: 30px; 
}


.headbutton
{
    float: right;
    margin-top: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    text-decoration: none;
    outline:none;
    color: white;
    font-family: Handlee;
    font-size: 25px;
}
.contact-button
{
    border-radius: 3px;
    margin-top: 4px;
    margin-left: 40%;
    background-color: #44749d;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
    font-family: century-gothic, sans-serif;
    font-size: 20px;
}
.column-contact-content
{
    margin-left: 10%;
    margin-top: 0;
    background: #ebe7e0;
}
